<p id="notice"><%= notice %></p>

<p>
  <b>Part number:</b>
  <%= @part.part_number %>
</p>

<p>
  <b>Part category:</b>
  <%= @part.part_category %>
</p>

<p>
  <b>Part name:</b>
  <%= @part.part_name %>
</p>


<%= link_to 'Edit', edit_part_path(@part) %> |
<%= link_to 'Back', parts_path %>
