<%= form_for(@competition_price) do |f| %>
  <% if @competition_price.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@competition_price.errors.count, "error") %> prohibited this competition_price from being saved:</h2>

      <ul>
      <% @competition_price.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :row_id %><br />
    <%= f.number_field :row_id %>
  </div>
  <div class="field">
    <%= f.label :from_date %><br />
    <%= f.date_select :from_date %>
  </div>
  <div class="field">
    <%= f.label :to_date %><br />
    <%= f.date_select :to_date %>
  </div>
  <div class="field">
    <%= f.label :part_number %><br />
    <%= f.text_field :part_number %>
  </div>
  <div class="field">
    <%= f.label :dealer_price %><br />
    <%= f.text_field :dealer_price %>
  </div>
  <div class="field">
    <%= f.label :list_price %><br />
    <%= f.text_field :list_price %>
  </div>
  <div class="field">
    <%= f.label :part_category %><br />
    <%= f.text_field :part_category %>
  </div>
  <div class="field">
    <%= f.label :competition_brand %><br />
    <%= f.text_area :competition_brand %>
  </div>
  <div class="field">
    <%= f.label :competition_name %><br />
    <%= f.text_field :competition_name %>
  </div>
    <div class="field">
      <%= f.label :competition_part_number %><br />
      <%= f.text_field :competition_part_number %>
    </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
